.footer{
  background-color: #282828;
  width: 100%;
  padding: 15px 0 10px;
  margin-top: 10px;
}

.links-socials {
  padding-top: 10px;
  ul {
    li {
      text-decoration: none;
      list-style: none;
      display: inline-block;
      text-align: left;
    }
    a {
      padding: 10px 20px;
    }
  }
  i {
    color: white;
  }
  i:hover {
    color: #D4AF37;
  }
  @media (max-width: 768px) {
    text-align: center;
  }
}

.copyrights {
  text-decoration: none;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
    i {
      color: #EE5F5B;
    }
    a{
      text-decoration: none;
    }
  @media (max-width: 768px) {
    text-align: center;

  }
}