.post {
	border-bottom: 1px solid #eee;
}

.post-title {
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.post-subtitle {
	font-size: 15px;
}
.post-creator {
	font-style: italic;
}

.post-older {
	margin-top: 10px;
}