<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="links-socials">
          <ul>
            <li>
              <a target="_blank" href="#">
              <i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a target="_blank" href="#">
              <i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a target="_blank" href="#">
              <i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="copyrights">
          <p>Made with <i class="fa fa-heart"></i> by Victor</p>
        </div>
      </div>
    </div>
  </div>
</div>