<div class="navbar-parroquia navbar-parroquia-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-parroquia-brand">
  <%= image_tag "logo.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-parroquia-right hidden-xs">

    <!-- Text form -->
    <a href="" class="navbar-parroquia-item navbar-parroquia-link">Blog</a>
    <a href="" class="navbar-parroquia-item navbar-parroquia-link">Soporte</a>
    <a href="" class="navbar-parroquia-item navbar-parroquia-link">Contacto</a>
  </div>
</div>